openapi: 3.0.3
info:
  title: RideNow API Specification
  description: Official OpenAPI 3.0 contract for RideNow Ride-Booking Platform.
  version: 1.0.0
  contact:
    name: RideNow Engineering
    email: dev@ridenow.com

servers:
  - url: https://api.ridenow.com/api/v1
    description: Production API Server
  - url: http://localhost:8080/api/v1
    description: Local Development Server

paths:
  /auth/register:
    post:
      summary: Register a new Rider or Driver account
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Registration initiated, OTP sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /auth/verify-otp:
    post:
      summary: Verify OTP and issue JWT Tokens
      operationId: verifyOtp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtpVerifyRequest'
      responses:
        '200':
          description: OTP verified successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'

  /rides:
    post:
      summary: Create a new ride booking
      operationId: createRide
      security:
        - BearerAuth: []
      parameters:
        - in: header
          name: X-Idempotency-Key
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRideRequest'
      responses:
        '201':
          description: Ride created successfully and matching initiated

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    RegisterRequest:
      type: object
      required:
        - phone
        - fullName
        - role
      properties:
        phone:
          type: string
          example: "+919876543210"
        fullName:
          type: string
          example: "Arivuchelvan"
        role:
          type: string
          enum: [RIDER, DRIVER]
        email:
          type: string
          format: email

    OtpVerifyRequest:
      type: object
      required:
        - phone
        - otp
        - role
      properties:
        phone:
          type: string
        otp:
          type: string
          example: "123456"
        role:
          type: string
          enum: [RIDER, DRIVER]

    CreateRideRequest:
      type: object
      required:
        - pickupLat
        - pickupLng
        - pickupAddress
        - dropLat
        - dropLng
        - dropAddress
        - vehicleCategoryId
        - rideType
      properties:
        pickupLat:
          type: number
          format: double
        pickupLng:
          type: number
          format: double
        pickupAddress:
          type: string
        dropLat:
          type: number
          format: double
        dropLng:
          type: number
          format: double
        dropAddress:
          type: string
        vehicleCategoryId:
          type: string
          format: uuid
        rideType:
          type: string
          enum: [IMMEDIATE, SCHEDULED]

    ApiResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
        timestamp:
          type: string
          format: date-time

    AuthTokenResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresIn:
          type: integer
